<html>
<head>
<script>
    var img = new Image();
    var canvas = document.createElement("canvas");

    function run() 
    {
        img.onload = onReferenceImageLoad;
        img.onerror = onReferenceImageLoad;
        img.src = "data:image/png;base64,$FILE";
    }

    function onEncodedImageLoad()
    {
        document.documentElement.removeAttribute("class");
    }

    function onReferenceImageLoad()
    {
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);
        var dataURL = canvas.toDataURL("image/bmp", "-moz-parse-options:bpp=24;format=png");

        var image_from_encoder = document.getElementById("image_from_encoder");
        image_from_encoder.onload = onEncodedImageLoad;
        image_from_encoder.onerror = onEncodedImageLoad;
        image_from_encoder.src = dataURL;
    }
</script>
</head>
<body onload="run()">
    <img id="image_from_encoder">
</body>
</html>
