<html>
<head>
    <script>
        var Logger = {
            console: function(msg) {
                if (window.dump) { window.dump(msg); }
                else if (window.console && window.console.log) { window.console.log(msg); }
                else { }
            }
        };

        function str2ab(str) {
            var buf = new ArrayBuffer(str.length);
            var bufView = new Uint8Array(buf);
            for (var i = 0, strLen = str.length; i < strLen; i++) {
                bufView[i] = str.charCodeAt(i);
            }
            return buf;
        }

        function play() {
            try {
                var context = new AudioContext();
            } catch (ex) {
                var context = new webkitAudioContext();
            }

            var fuzzedAudio = str2ab(window.atob("$FILE"));

            context.decodeAudioData(fuzzedAudio,
                function(buffer) {
                    Logger.console("decodeAudioData(): onSuccess\n")
                    var source = context.createBufferSource();
                    source.buffer = buffer;
                    source.connect(context.destination);
                    source.start(0);
                },
                function() {
                    Logger.console("decodeAudioData(): onFailure\n")
                    context = null;
                }
            );
        }
    </script>
</head>
<body onload="play()">
<audio id="myaudio"></audio>
</body>
</html>
