<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
@font-face{
    font-family: t;
    src: url($url);
}
body{
    font-family:t;
}
</style>
<script type="text/javascript" src="../scripts/libfuzz.js"></script>
<script type="text/javascript">

/* options */
var cycles = 10;

elements = ["span", "p", "i", "b", "div" ];

// ---------------------------------------------------------------------------
// CSS Font
//

function line_height() {
    return Or(number(), length(), percentage());
}

function font_style() {
    return Or("normal", "italic", "oblique");
}

function font_variant() {
    return Or("normal", "small-caps");
}

function font_weight() {
    return Or("normal",
              "bold",
              "bolder",
              "lighter",
              "100",
              "200",
              "600",
              "700",
              "800",
              "900",
              number());
}

function font_size() {
    return Or("xx-small",
              "x-small",
              "small",
              "medium",
              "large",
              "x-large",
              "xx-large",
              "smaller",
              "larger",
              length(),
              percentage());
}

function font_family() {
    return "t";//O(W(["t ", "Helvetica ", "Arial ", '"Times New Roman "'])) + 
        //O(Or("serif ", "sans-serif ", "cursiv ", "fantasy ", "monospace "));
}

function font() {
    return "font:" + O(Or(font_style(), font_variant(), font_weight())) +
        " " + font_size() + O("/" + line_height()) + " "+ font_family();
}


// ---------------------------------------------------------------------------
// CSS Text
//

function offset_x() {
    return length();
}

function offset_y() {
    return length();
}

function blur_radius() {
    return length();
}

function shadow() {
    return Or(
        O(color() + " ") + offset_x() + " " + offset_y() + O(" " + blur_radius()), 
        offset_x() + " " + offset_y() + " " + O(blur_radius()) + " " + O(color())
        );
}

function text_shadow() {
    return "text-shadow:" + Or("none", shadow()); // XXX: W()
}

function word_spacing() {
    return "word-spacing:" + Or(number() * -0.5,
                                number() * -0.5 + Or(measurements),
                                length());
}

function letter_spacing() {
    return "letter-spacing:" + Or("normal", length());
}

function text_transform() {
    return "text-transform:" + Or("capitalize",
                                  "uppercase",
                                  "lowercase",
                                  "none");
}

function font_stretch() {
    return "font-stretch:" + Or("wider",
                                "narrower",
                                "condensed",
                                "semi-condensed",
                                "extra-condensed",
                                "ultra-condensed",
                                "expanded",
                                "semi-expanded",
                                "extra-expanded",
                                "ultra-expanded",
                                "normal");
}

function font_size_adjust() {
    return "font-size:" + Or(number(), "inherit");
}

function text_decoration() {
    return "text-decoration:" + Or("none",
                                   Or("underline",
                                      "overline",
                                      "line-through",
                                      "blink"),
                                   "inherit");
}

function text_rendering() {
    return "text-rendering:" + Or("auto",
                                  "optimizeSpeed",
                                  "optimizeLegibility",
                                  "geometricPrecision",
                                  "inherit");
}

function text_indent() {
    return "text-indent:" + Or(length(), percentage());
}

function direction() {
    return "direction:" + Or("ltr", "rtl", "inherit");
}

// ---------------------------------------------------------------------------

function css_attr() {
    return Or(
        font(),
        text_shadow(),
        word_spacing(),
        letter_spacing(),
        text_transform(),
        text_decoration(),
        text_rendering(),
        text_indent(),
        font_stretch(),
        font_size_adjust(),
        direction()
        );
}

// ---------------------------------------------------------------------------

/*
 function fixedFromCharCode (codePt) {
    if (codePt > 0xFFFF) {
        codePt -= 0x10000;
        return String.fromCharCode(0xD800 + (codePt >> 10), 0xDC00 + (codePt & 0x3FF));
    }
    else {
        return String.fromCharCode(codePt);
    }
}
*/

function make_char() {
    var s = "";
    /*
    for (var i=0; i<Random.number(0xfff); i++) {
        s += "&#x"+Random.range(0x0, 0xeffff)+";";
    }*/
    
    for (var i=0; i<Random.number(0xfff); i++) {
        s += String.fromCharCode(Random.range(0x0, 0xeffff));
    }
    /*
    switch(Random.number(0)) {
        case 0:
            for (var i = 0x0000; i <= 0xffff; i++)
                s += String.fromCharCode(i);
        break;
        case 1:
            for (var i = 0x10000; i <= 0x1ffff; i++)
                s += String.fromCharCode(i);
        break;
        case 2:
            for (var i = 0x20000; i <= 0x2ffff; i++)
                s += String.fromCharCode(i);
        break;
        case 3:
            for (var i = 0x30000; i <= 0xdffff; i++)
                s += String.fromCharCode(i);
        break;
        case 4:
            for (var i = 0xe0000; i <= 0xeffff; i++)
                s += String.fromCharCode(i);
        break;
        case 5:
            for (var i = 0xf0000; i <= 0x10ffff; i++)
                s += String.fromCharCode(i);
        break;
        case 6:
            for (var i = 0xe0000; i <= 0xeffff; i++)
                s += String.fromCharCode(i);
        break;
    }*/
    return s;
}

function make_css_attr() {
    var s = css_attr();
    for (var i = 0; i < Random.number(4); i++)
        s += ";" + css_attr();
    return s;
}

function make_css() {
    return make("style=\'{0}\'",  make_css_attr());
}

function start() {
    var s = "";
    for (var i=0; i<2; i++) {
        s += make('<{0} {1}>{2}</{0}>\n', Or(elements), make_css(), make_char());
    }
    window.dump(s);
    document.getElementsByTagName("body")[0].innerHTML = s;
    
    setTimeout('window.location.reload()', $interval);
}
</script>
</head>
<body onload="start()"></body>
</html>
