<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
    @font-face{
        font-family: t; 
        src: url($url);
    };
    body,p,div,span,b,i{
        font-family:t;
    };
    </style>
    <script>
        // ---------------------------------------------------------------------------
        // 
        //
    
        var process = null;

        function init(myfunc, interval) {
            process = setInterval(myfunc, interval);
        }

        function stop() {
            clearInterval(process);
        }

        // ---------------------------------------------------------------------------
        // 
        //
        
        var Random = {
            number: function(n) {
                return Math.floor(Math.random() * n)
            },
            range: function(x,y) {
                return Math.round(x + (Math.random() * (y - x)));
            },
            index: function(a) {
                return a[this.number(a.length)];
            }
        }

        // BNF: or
        function R(list) {
            return Random.index(list);
        }
    
        // BNF: optional
        function O(item) {
            if (Random.number(1) == 0)
                return item;
            return "";
        }
    
        // BNF: repeat
        function W(list) {
            var s = ""
            // add: if function | if list
            var items = new Array();
            for (var i=0; i<Random.range(1, list.length); i++) {
                item = R(list);
                if (item in items)
                    continue;
                items[item] = item;
                s += item;
            }
            return s;
        }
    
        // ---------------------------------------------------------------------------
        // 
        //
    
        html_elements = new Array(
            "span", 
            "p", 
            "i",
            "b",
            "div"
        );
    
        // ---------------------------------------------------------------------------
        // CSS Common Values
        // 

        function number() {
            return R([Random.number(0xff), R([/*-1*/, 0xffff, 0xffffffff, 0xffffffffffffffff])]);
        }

        function length() {
            return number() + R(["px", "em", "ex", "ch", "rem", "mm", "cm", "in", "pt", "pc"]);
        }

        function percentage() {
            return number() + "%";
        }
    
        function color() {
            return R(["orange", "blue", "green", "red"]);
        }

        // ---------------------------------------------------------------------------
        // CSS Font
        //
    
        function line_height() {
            return R([number(), length(), percentage()]);
        }
    
        function font_style() {
            return R(["normal", "italic", "oblique"]);
        }
    
        function font_variant() {
            return R(["normal", "small-caps"]);
        }
    
        function font_weight() {
            return R(["normal", "bold", "bolder", "lighter", "100", "200", "600", "700", "800", "900", number()]);
        }
    
        function font_size() {
            return R(["xx-small", "x-small", "small", "medium", "large", "x-large", "xx-large", "smaller", "larger", length(), percentage()]);
        }
    
        function font_family() {
            return O(W(["Helvetica ", "Arial ", "\"Times New Roman\" "])) + 
            O(R(["serif ", "sans-serif ", "cursiv ", "fantasy ", "monospace "]));
        }
    
        function font() {
            return "font:" + O(R([font_style(), font_variant(), font_weight()])) + " " + font_size() + O("/" + line_height()) + " "+ font_family();
        }
    
        // ---------------------------------------------------------------------------
        // CSS Text
        //
    
        function offset_x() {
            return length();
        }
    
        function offset_y() {
            return length();
        }
    
        function blur_radius() {
            return length();
        }
    
        function shadow() {
            return R([
                O(color() + " ") + offset_x() + " " + offset_y() + O(" " + blur_radius()), 
                offset_x() + " " + offset_y() + " " + O(blur_radius()) + " " + O(color())
                ]);
        }
    
        function text_shadow() {
            return "text-shadow:" + R(["none", shadow()]); // W()
        }
    
        function word_spacing() {
            return "word-spacing:" + R(["0."+length(), length()]);
        }
    
        function letter_spacing() {
            return "letter-spacing:" + R(["normal", length()]);
        }
    
        function text_transform() {
            return "text-transform:" + R(["capitalize", "uppercase", "lowercase", "none"]);
        }
    
        function font_stretch() {
            return "font-stretch:" + R(["wider", "narrower", "condensed", "semi-condensed", 
            "extra-condensed", "ultra-condensed", "expanded", "semi-expanded", "extra-expanded", "ultra-expanded", "normal"]);
        }
    
        function font_size_adjust() {
            return "font-size:" + R([number(), "inherit"]);
        }
    
        function text_decoration() {
            return "text-decoration:" + R(["none", R(["underline" , "overline", "line-through", "blink"]), "inherit"]);
        }
    
        function text_rendering() {
            return "text-rendering:" + R(["auto", "optimizeSpeed", "optimizeLegibility", "geometricPrecision", "inherit"]);
        }
    
        function text_indent() {
            return "text-indent:" + R([length(), percentage()]);
        }
    
        function direction() {
            return "direction:" + R(["ltr", "rtl", "inherit"]);
        }
    
        // ---------------------------------------------------------------------------
    
        function css_attr() {
            return R([
                font(),
                text_shadow(),
                word_spacing(),
                letter_spacing(),
                text_transform(),
                text_decoration(),
                text_rendering(),
                text_indent(),
                font_stretch(),
                font_size_adjust(),
                direction()
                ]);
        }
    
        // ---------------------------------------------------------------------------

        function make_char() {
            var s = "";
    
            switch(Random.number(6)) {
                case 1:
                    s = Random.range(0x0000, 0xffff);
                    break;
                case 2:
                    s = Random.range(0x10000, 0x1ffff);
                    break;
                case 3:
                    s = Random.range(0x20000, 0x2ffff);
                    break;
                case 4:
                    s = Random.range(0x30000, 0xdffff);
                    break;
                case 5:
                    s = Random.range(0xe0000, 0xeffff);
                    break;
                case 6:
                    s = Random.range(0xf0000, 0x10ffff);
                    break;
                case 7:
                    s = Random.range(0x1000000, 0x1030000);
                default:
                    s = Random.range(0x0000, 0xffff);
                    break;
            
            }
    
            return "&#" + s + ";";
        }


        function make_css_attr() {
            var s = "";
        
            for (var i = 0; i < Random.range(1, 4); i++) {
                s += css_attr() + ";";
            }
        
            return s.slice(0, -1);
        }


        function make_css() {
            switch(Random.number(1)) {
                case 0:
                    return 'style="' + make_css_attr() + '"';
                case 1:
                    return "";
            }
        }


        function draw() {
            var e = Random.index(html_elements);
            var s = "<" + e + " " + make_css() + ">";
        
            switch(Random.number(2)) {
                case 0:
                    s += draw();
                    break;
                case 1:
                    var n = Random.range(1, 0xfff)
                    for (var i = 0 ; i < n; i++) {
            	        s += make_char();
                    }
                    break;
                default:
                    s += make_char();
            }
   
            s += "</" + e + ">";
   
            return s;
        }


        function start() {
            var s = draw();
            document.getElementById("debug").innerHTML = s;
            setTimeout('window.location.reload();', 0);

	}
    </script>
</head>
<body onload="start()">
    <div id="debug"></div>
    <br/>        
</body>
</html>
