<!--
	Font Template for file and layout fuzzing
	
	http://www.w3.org/TR/SVG11/fonts.html#FontElement
	
	Seeds:
		Google Chrome
			- ASSERT FAILURE: 1318015280544
	
	Note:
		*) Firefox first displays the text in the default font, and then re-renders text in 
		the web font once it has loaded. This behavior is known as a "flash of unstyled text."
		
		*) Firefox can not serve webfonts from the file:// protocol. 
		* 
		* ueber cssText
		* callback fuer css
		
-->
<html>
<head>

<meta http-equiv='Content-type' content='text/html;charset=UTF-8'>
<!--
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="refresh" content="0; URL=http://127.0.0.1:8080/">
-->

<script type="text/javascript" src="../plugins/browser/languages/htdocs/scripts/Undefined.js"></script>
<script type="text/javascript">

// Deprecated and new HTML elements 
HTMLTextElements = [
	'b', //bold
	'p', //paragraph
	'div', 
	'bdo', 
	'a', 
	'span', 
	'i', 
	'h1', 
	'h6', 
	'big', 
	'strike',
	'em', 
	'code', 
	'cite', // cite
	'kbd', // keyboard
	'var', 
	'strong', 
	'dfn', 
	'samp',
	'tt', // teletype
	'sup', // superscript 
	'sub', // subscript
	'acronym',
	'abbr',
	'blockquote',
	'q',
	'dd',
	'dt',
	'ins',
	'del',
	'label',
	'small',
	'textarea',
	'u'
];


// Firefox Nightly 10.0a1 Blacklist 
var CSSFontBlacklist = [
	'font-family',
	'font'
];


// Some Mozilla CSS Extension which could be affliated with Fonts & Text
var MozillaCSSExtensions = [
]; // pack das in die CSS3Font und nutze Picker (linked-list) koennte ich das auch bei meinem DOM Interface machen?


// http://dev.w3.org/csswg/css3-fonts/
// https://developer.mozilla.org/en/CSS_Reference
// https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions
var CSS3Font = [
	['word-spacing', 
		[
			'normal',
			function() { return Pandora.number() + O(Random.element(Pandora.lengthUnits)) },
			function() { return Pandora.number() + O(Random.element(Pandora.lengthUnits)) * -0.5 },
		]
	],
	['word-space',
		[
			'normal', 'pre', 'nowrap', 'pre-wrap', 'pre-line', 'inherit' 
		]
	],
	['word-wrap',
		[
			'normal', 'break-word'
		]
	],
	['unicode-bidi',
		[
			'normal', 'embed', 'bidi-override', 'inherit'
		]
	],
	['direction', 
		[
			"ltr", "rtl", "inherit"
		]
	],
	['letter-spacing', 
		[
			'normal',
			function() { return Pandora.number() + O(Random.element(Pandora.lengthUnits)) },
			function() { return Pandora.number() + O(Random.element(Pandora.lengthUnits)) * -0.5 }
		],
	],
	/* Text */
	['text-align',
		[
			'left', 'center', 'right', 'justify', 'start', 'end', '-moz-left', '-moz-center', '-moz-right', 'inherit'
		],
	],
	['text-overflow',
		[
			'ellipsis', 'clip'
		],
	],
	['text-transform',
		[
			'capitalize', 'uppercase', 'lowercase', 'none'
		]
	],
	['text-decoration', 
		[
			"none", "underline" , "overline", "line-through", "-moz-anchor-decoration", "blink", "inherit"
		]
	],
	['text-shadow', 
		[
			'none',
			function() { return Random.picker(Pandora.colors) + ' ' + Pandora.number() + ' ' + Pandora.number() + ' ' + Pandora.number() },
			function() { return Pandora.number() + ' ' + Pandora.number() + ' ' + O(Pandora.number() + ' ' + O(Random.picker(Pandora.colors))) },
		]
	],
	['text-indent', 
		[function() { return Pandora.number() + Random.element(Pandora.lengthUnits) }]
	],
	['text-rendering', 
		[
			"auto", "optimizeSpeed", "optimizeLegibility", "geometricPrecision", "inherit"
		]
	],
	/* Font */
	['font', 
		['']
	],
	['font-family', 
		['']
	],
	['font-style', 
		['normal', 'italic', 'oblique', 'inherit']
	],
	['font-stretch', 
		[
			"wider", "narrower", "condensed", "semi-condensed", "extra-condensed", "ultra-condensed", "expanded", "semi-expanded", "extra-expanded", "ultra-expanded", "normal"
		]
	],
	['font-feature-settings',
		[
			'dlig', 'smcp', 'c2sc', 'liga', 'tnum', 'hist', 'palin', 'PKRN'
		]
	],
	['font-kerning', 
		[
			'auto', 'normal', 'none'
		]
	],
	['font-language-override', 
		[
			function() { return Random.element(Pandora.RegisteredFontFeatures)}
		]
	],
	['font-size', 
		[
			"xx-small", 
			"x-small", 
			"small", 
			"medium", 
			"large", 
			"x-large", 
			"xx-large", 
			"smaller", 
			"larger", 
			function() { return Pandora.number() + Random.element(Pandora.lengthUnits) }
		]
	],
	['font-size-adjust', 
		[
			function() { return Pandora.number() },
			'none', 
			'inherit'
		]
	],
	['font-stretch', 
		[
			"wider","narrower","condensed",  "semi-condensed", "extra-condensed", "ultra-condensed", "expanded", "semi-expanded", "extra-expanded", "ultra-expanded", "normal"
		]
	],
	['font-synthesis', 
		[
			'none', 'weight', 'style' 
		],
	],
	['font-variant', 
		[
			"normal", "small-caps"
		]
	],
	['font-variant-ligatures', 
		[
			'normal', 
			'inherit', 
			function() { return Random.element(['common-ligatures', 'no-common-ligatures']) }, 
			function() { return Random.element(['discretionary-ligatures', 'no-discretionary-ligatures']) }, 
			function() { return Random.element(['historical-ligatures', 'no-historical-ligatures']) },
		]
	],
	['font-variant-caps', 
		[
			'norma',
			'inherit',
			function() { return Random.element(['small-caps', 'all-small-caps', 'petite-caps', 'all-petite-caps', 'titling-caps', 'unicase'])},
		]
	],
	['font-variant-east-asian', 
		[
			'jis78', 'jis83', 'jis90', 'jis04', 'simplified', 'traditional'
		],
	],
	['font-variant-alternates', 
		[
			'normal',
			'inherit',
			function() { return Random.element(['contextual', 'no-contextual', 'historical-forms']) },
		],
	],
	['font-variant-numeric', 
		[
			'normal',
			'inherit',
			function() { return Random.element(['numeric-figure-values', 'numeric-spacing-values', 'numeric-fraction-values', 'slashed-zero']) },
		]
	],
	['font-variant-position',
		[
			'normal', 'sub', 'super', 'ordinal'
		]
	],
	['font-weight', 
		[
			"normal", "bold", "bolder", "lighter", "100", function() { return Pandora.number() }
		]
	],
	/* Mozilla specific */	
	['-moz-font-feature-settings', 
		[
			'normal',
			function() { return '"' + Random.element(Pandora.RegisteredFontFeatures) + '=' + Random.number(1) + '"';  },
			function() { 
				var s = '';
				n = Random.element([Random.range(1, 5), Random.element([0xffff, 0xff])])
				for(var i=0; i<n; i++) {
					s += Random.element(Pandora.RegisteredFontFeatures) + '=' + Random.number(1);
					if (i+1 < n)
						s += ',';
				}
				s += '"';
				return s;
			},
		]
	],
	['-moz-font-language-override', 
		[
			'',
		]
	],
	['-moz-margin-start', 
		[
			'inherit',
			'auto',
			function() { return Pandora.number() + Random.element(Pandora.lengthUnits) }
		]
	],
	['text-decoration-color',
	 [
	   function() { return '"' + Random.picker(Pandora.colors) + '"'; },
	   'inherit',
	 ],
	],
	['text-decoration-line',
		[
		  'none', 'underline', 'overline', 'line-through'
	  ]
	],
	['text-decoration-style',
		[
		  'solid', 'double', 'dotted', 'dashed', 'wavy', 'inherit'
		],
	],
	['-moz-text-blink', 
		[
		  'none', 'blinK'
		]
	],
	['-moz-tab-size',
		[
		  function() { return Pandora.number() }, 'inherit'
		],
	],
	/* Misc */
	['color', 
		[
			function() { return '"' + Random.picker(Pandora.colors) + '"'; },
		],
	],
	['page-break-inside',
		[
			'auto', 'avoid', 'inherit'
		]
	],
	['page-break-before',
		[
			'auto', 'always', 'avoid', 'left', 'right', 'inherit'
		]
	],
	['page-break-after',
		[
			'auto', 'always', 'avoid', 'left', 'right', 'inherit'
		]
	],
	['orphans',
		[
			function() { return Random.number(); }, 
			'inherit'
		]
	],
	['overflow'
		[
			'visible', 'hidden', 'scroll', 'auto', 'inherit'
		]
	],
	['hyphens',
		[
			'none', 'manual', 'auto'
		]
	]
];

function getStyleSheet(title) {
	for(var i=0; i<document.styleSheets.length; i++) {
		var sheet = document.styleSheets[i];
		if(sheet.title == title) {
			return sheet;
		}
	}
}

function isBlacklisted(list, name) {
	for (var i in list) {
		if (name == list[i]) {
			return true;
		}
	}
	return false;
}


function createText() {
	var text = '';
	for (var i=0; i<99; i++) {
    if (Random.number(1) == 0) {
    	var glyph = Random.element(Pandora.layoutCharCodes);
    	text += String.fromCharCode(glyph);
    } else {
    	text += Pandora.character();
    }
  }
  return text;
}


function createCSSFontProperties() {
	var cssRuleBody = new Array();
	var n = Random.range(1, 8);
	for (var i=0; i<=n; ++i) {
		var cssProperty = Random.element(CSS3Font);
		var cssPropertyName = cssProperty[0];
		if (isBlacklisted(CSSFontBlacklist, cssPropertyName)) {
			--i;
			continue;
		}
		var cssPropertyData = Random.picker(cssProperty[1]);
		cssRuleBody.push(cssPropertyName + ':' + cssPropertyData + ';')
	}
	return cssRuleBody;
}


function addCSSRule(sheet_title, selector, ruleArray) {
	var sheet = getStyleSheet(sheet_title);
	if (sheet.insertRule) {
		var rule = ruleArray.join(' ');
		Logger.dumpLine(selector + " {" + rule + "}");
		sheet.insertRule(selector + " {" + rule + "}", sheet.cssRules.length);
	}
	else if(sheet.addRule) {
		var rule = '';
		for (var i=0; i<ruleArray.lenngth; i++) {
			sheet.addRule(selector, ruleArray[i])
		}
	}
}


function createFontElement(element_name, attrs) {
	var element = document.createElement(element_name);
	element.setAttribute('class', attrs.class_name);
	if (Random.sometimes())
		element.setAttribute('lang', Random.element(Pandora.RegisterdFontLanguages));
	element.innerHTML = createText();
	document.body.appendChild(element);
	return element;
}


function main() {
	NextTestcase();
  Random.init(Random.generateSeed());
  Logger.dumpMessage('Seed', Random.seed);
  
  /* create a style element */
	var cssNode = document.createElement('style');
	cssNode.type = 'text/css';
	cssNode.rel = 'stylesheet';
	cssNode.media = 'screen';
	cssNode.title = 'Gr2';
	document.getElementsByTagName("head")[0].appendChild(cssNode);
	
	/* add font face */
  addCSSRule('Gr2', '@font-face', ['src:url($url);', 'font-family:MyFont;']);
  
	for (var i = 0; i < Random.number(5) + 1; i++) {
		/* create a random html element */
		var element_name = Random.element(HTMLTextElements);
		
		/* create the element attributes */
	  var attrs = {};
	  attrs.class_name = 'MyFont';
    
    /* add element css rules to stylesheet */
   	var css_props = createCSSFontProperties()
   	css_props.push('font-family:MyFont;')
   	css_props.push('color:red;')
		addCSSRule('Gr2', element_name + '.' + attrs.class_name, css_props);
		
		/* add element to body */
		createFontElement(element_name, attrs);
	}
	
	/* logging */
	var serializer = new XMLSerializer();
  var xml = serializer.serializeToString(document.body);
  Logger.dumpMessage('Body', encodeToHex(xml));
  
  //sleep(5000);
  
  /* needs a delay else we reload before the font was fetched */
  setTimeout('window.location.reload()', 400);
}

</script>
</head>

<body onload='main()'>
	
  $itemnr<br>
 	Lorem ipsum<br>
</body>

</html>
