<html>
<head>
    <style>
    @font-face{
        font-family: "t";
        src: url(trebucit.ttf);
    }
    body{
        font-family:"t";
    }
    </style>

<script type="text/javascript" src="../../scripts/libfuzz.js"></script>
<script type="text/javascript">

var ids_class = [];

var html_elements = ["span", "p", "i", "b", "div" ];


// ---------------------------------------------------------------------------
// CSS Font
//
function line_height() {
    return Or(randomNumber(), length(), percentage());
}

function font_style() {
    return Or("normal", "italic", "oblique");
}

function font_variant() {
    return Or("normal", "small-caps");
}

function font_weight() {
    return Or("normal", "bold", "bolder", "lighter", "100", "200", "600", "700", "800", "900",randomNumber());
}

function font_size() {
    return Or("xx-small", "x-small", "small", "medium", "large", "x-large", "xx-large", "smaller", "larger", length(), percentage());
}

function font_family() {
    return O(W(["t ", "Helvetica ", "Arial ", '"Times New Roman "'])) + 
    O(Or("serif ", "sans-serif ", "cursiv ", "fantasy ", "monospace "));
}

function font() {
    return "font:" + O(Or(font_style(), font_variant(), font_weight())) + " " + font_size() + O("/" + line_height()) + " "+ font_family();
}

// ---------------------------------------------------------------------------
// CSS Text
//

CSS3Font = [
	['word-spacing', [function() { return Pandora.number() }]],
	['direction', ["ltr", "rtl", "inherit"]],
	['letter-spacing', ['normal', function() { return Pandora.number() }]],
	/* Text */
	['text-transform',['capitalize', 'uppercase', 'lowercase', 'none']],
	['text-decoration', ["none", "underline" , "overline", "line-through", "blink", "inherit"]],
	['text-shadow', ['none']],
	['text-indent', [function() { return Pandora.number() + Random.element(Pandora.lengthUnits) }]],
	['text-rendering', ["auto", "optimizeSpeed", "optimizeLegibility", "geometricPrecision", "inherit"]],
	/* Font */
	['font', []]
	['font-family', []]
	['font-style', ['normal', 'italic', 'oblique', 'inherit']],
	['font-stretch', ["wider", "narrower", "condensed", "semi-condensed", "extra-condensed", "ultra-condensed", "expanded", "semi-expanded", "extra-expanded", "ultra-expanded", "normal"]],
	['font-feature-settings']
	['font-kerning']
	['font-language-override']
	['font-size']
	['font-size-adjust', [function() { return Pandora.number() }, 'none', 'inherit']]
	['font-stretch']
	['font-synthesis']
	['font-variant', ["normal", "small-caps"]],
	['font-variant-alternates']
	['font-variant-caps']
	['font-variant-east-asian']
	['font-variant-ligatures']
	['font-variant-numberic']
	['font-variant-position']
	['font-weight', ["normal", "bold", "bolder", "lighter", "100", function() { return Pandora.number() } ]]
	/* Mozilla specific */	
	['-moz-font-feature-settings']
];


function offset_x() {
    return length();
}

function offset_y() {
    return length();
}

function blur_radius() {
    return length();
}

function shadow() {
    return Or(
        O(color() + " ") + offset_x() + " " + offset_y() + O(" " + blur_radius()), 
        offset_x() + " " + offset_y() + " " + O(blur_radius()) + " " + O(color())
        );
}

function text_shadow() {
    return "text-shadow:" + Or("none", shadow()); // W()
}

function word_spacing() {
    return "word-spacing:" + Or("0."+length(), length());
}

function letter_spacing() {
    return "letter-spacing:" + Or("normal", length());
}

function text_transform() {
    return "text-transform:" + Or("capitalize", "uppercase", "lowercase", "none");
}

function font_stretch() {
    return "font-stretch:" + Or("wider", "narrower", "condensed", "semi-condensed", 
    "extra-condensed", "ultra-condensed", "expanded", "semi-expanded", "extra-expanded", "ultra-expanded", "normal");
}

function font_size_adjust() {
    return "font-size:" + Or(randomNumber(), "inherit");
}

function text_decoration() {
    return "text-decoration:" + Or("none", Or("underline" , "overline", "line-through", "blink"), "inherit");
}

function text_rendering() {
    return "text-rendering:" + Or("auto", "optimizeSpeed", "optimizeLegibility", "geometricPrecision", "inherit");
}

function text_indent() {
    return "text-indent:" + Or(length(), percentage());
}

function direction() {
    return "direction:" + Or("ltr", "rtl", "inherit");
}

// ---------------------------------------------------------------------------

function css_attr() {
    return Or(
        font(),
        text_shadow(),
        word_spacing(),
        letter_spacing(),
        text_transform(),
        text_decoration(),
        text_rendering(),
        text_indent(),
        font_stretch(),
        font_size_adjust(),
        direction()
        );
}

// ---------------------------------------------------------------------------

function make_char() {
    var s = "";
    switch(Random.number(7)) {   
        case 0:
            for (var i = 0x0000; i <= 0xffff; i++)
                s = s + String.fromCharCode(i);
        break;
        case 1:
            for (var i = 0x10000; i <= 0x1ffff; i++)
                s = s + String.fromCharCode(i);
        break;
        case 2:
            for (var i = 0x20000; i <= 0x2ffff; i++)
                s = s + String.fromCharCode(i);
        break;
        case 3:
            for (var i = 0x30000; i <= 0xdffff; i++)
                s = s + String.fromCharCode(i);
        break;
        case 4:
            for (var i = 0xe0000; i <= 0xeffff; i++)
                s = s + String.fromCharCode(i);
        break;
        case 5:
            for (var i = 0xf0000; i <= 0x10ffff; i++)
                s = s + String.fromCharCode(i);
        break;
        case 6:
            for (var i = 0xe0000; i <= 0xeffff; i++)
                s = s + String.fromCharCode(i);
        break;
    }
    return s;
}

function make_css_attr() {
    var s = "";
    for (var i = 0; i < Random.range(1, 4); i++)
        s += css_attr() + ";";
    return s.slice(0, -1);
}

function make_css() {
    switch(Random.number(1)) {
        case 0:
            return make('style=\'{0}\'',  make_css_attr());
        case 1:
            return "";
    }
}

function draw() {
    var e = Or(html_elements);
    var s = make('<{0} class="{1}" {2}>', e, make_var(ids_class), make_css());
    
    if (Random.number(4) == 0)
        s += draw();
    s += make_char();
    
    s += make("</{0}>", e);

    return s;
}

function start() {
    ids_class = [];
    var s = make("<html><body>{0}</body></html>\n\n", draw());
    
    l = document.getElementById("logger").value;
    if (l)
        Logger.url = l;
        Logger.log(s);
    
    document.getElementById("debug").innerHTML = s;
}

    </script>
</head>

<body>
    <input type="button" value="Start" onclick="init(start, document.getElementById('delay').value)">
    <input type="button" value="Stop" onclick="stop()">
    Delay: <input id="delay" type="text" value="0">
    Logger: <input id="logger" type="text" value="/cgi-bin/logger.py">
    <br/>
    <div id="debug"></div>
    <br/>        
</body>
</html>