<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <style type="text/css">
		/* body { text-rendering: optimizeLegibility; } */
  	@font-face {
	  	font-family: "t"; src:url($url);
		}
		p.t {
	  	font-size:40px;
	  	font-family: "t";
    }
		span.t {
		  font-size:10px;
		  font-family: "t";
		}
		/*
		.test1 {
			font-size: 34px;
			width: 5em;
			line-height: 2em;
			font-family: "t";
		}
		.test2 {
			font: 34px padauk;
			-moz-font-feature-settings: "kdot=1"; // check that setting an optional graphite feature affects rendering
		}
		*/
  </style>
  <script type="text/javascript">
    function loaded() { setTimeout('window.location.reload()', $interval); }
  </script>
</head>
<body onload="loaded()">
	<span id='text'></span>
	<p class="t">$itemnr<br>Lorem ipsum</p>
	<span class="t"></span>
	<script type="text/javascript">
  	var text = document.getElementById('text');
  	for (var i=0; i<1200; i++) {
  		text.innerHTML += String.fromCharCode(i);
  	}
  </script>
</body>
</html>