<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../../../Peach/Utilities/JS/undefined.js"></script>
<style>
@font-face{
    font-family:t; src:url($url);
    }
p.t{
    font-size:40px; 
    font-family:t;
    }
span.t {
        font-size:10px;
        font-family:t;
}
</style>
<script>
 function loaded() {
     //="http://192.168.2.100:$port"', $interval);}

     var s = "";
     for (var i=0; i<Random.number(0xfff); i++) {
         s += String.fromCharCode(Random.range(0x0, 0xeffff));
     }
     document.getElementById("out").innerHTML = s;

     setTimeout('window.location.reload()', $interval);
 }
 </script>
</head>
<body onload="loaded()">
<p class="t">$itemnr<br>Lorem ipsum</p>
<span id="out" class="t">Lorem ipsum2</span>
</body></html>

