<!--
var input = cl.createBuffer(context,  cl.MEM_READ_ONLY, Float32Array.BYTES_PER_ELEMENT * count, null);

cl.enqueueWriteBuffer(queue, input, true, 0, Float32Array.BYTES_PER_ELEMENT * count, data, null);
cl.setKernelArgGlobal(kernel, 0, input);
cl.enqueueNDRangeKernel(queue, kernel, 1, 0, globalWorkSize, localWorkSize, null);

cl.finish(queue, null, null);
-->

<html>
  <script>
  function testwebcl() {
    webCL = window.WebCL; // new WebCLComputeContext();
    plats = webCL.getPlatforms();
    var program = "__kernel void init(__global int* data){int i = get_global_id(0);data[i] = data[i]*i;}";
    buffer = new ArrayBuffer(256);
    int32View = new Int32Array(buffer);
    for (var i=0; i<int32View.length; i++) {
      int32View[i] = i*2;
    }
    devices = plats[0].getDevices();
    ctx = webCL.createContext(devices,plats[0]);
    mem = ctx.createBuffer(webCL.CL_MEM_READ_WRITE,256);
    clprogram = ctx.createProgramWithSource(program);
    
    queue = ctx.createCommandQueue(devices[0],0);
    queue.enqueueWriteBuffer(mem,false,0,256,int32View,null);
    clprogram.buildProgram();
    
    kernel = clprogram.createKernel("init");
    kernel.setMemArg(0,mem);
    
    queue.enqueueNDRangeKernel(kernel,1,0,64,8,null);
    queue.enqueueReadBuffer(mem,true,0,256,int32View,null);
    queue.finish();
    alert(int32View[1]); //must show 2
  }
  </script>
  <body onload='testwebcl'></body>
</html>
