<html>
<head>
    <script type="application/javascript;version=1.8">
        let pc1, pc2, pc1_offer, pc2_answer;
        var Logger = {
            console: function(msg) {
                if (window.dump) { window.dump(msg); }
                else if (window.console && window.console.log) { window.console.log(msg); }
                else { }
            }
        }
        function onFailure(code) {
            Logger.console("\n########## Failure: " + code + "\n");
            stop();
        }
        function stop() {
            pc1.close();
            pc1 = null;
            Logger.console('\n########## Closed pc1\n');
            pc2.close();
            pc2 = null;
            Logger.console('\n########## Closed pc2\n');
        }
        function step1(offer) {
            pc1_offer = offer;
            var foo = window.atob("$FILE");
            try {
                decodeURIComponent(escape(window.atob(foo)))
            } catch(e) {}
            pc1_offer.sdp = foo;
            Logger.console(JSON.stringify(pc1_offer.sdp));
            pc1.setLocalDescription(pc1_offer, step2, onFailure);
        }
        function step2() {
            pc2.setRemoteDescription(pc1_offer, step3, onFailure);
        }
        function step3() {
            pc2.createAnswer(step4, onFailure);
        }
        function step4(answer) {
            pc2_answer = answer;
            //pc2_answer.sdp = window.atob("$FILE");
            //Logger.console(JSON.stringify(pc1_offer.sdp));
            pc2.setLocalDescription(pc2_answer, step5, onFailure);
        }
        function step5() {
            pc1.setRemoteDescription(pc2_answer, step6, onFailure);
        }
        function step6() {
            Logger.console("\n################### REACHED ###################");
            stop();
        }
        function start() {
            pc1 = new mozRTCPeerConnection();
            pc2 = new mozRTCPeerConnection();
            navigator.mozGetUserMedia({audio:true, video:true, fake:false}, function(s) {
                pc1.addStream(s);
                navigator.mozGetUserMedia({audio:true, video:true, fake:true}, function(s) {
                  pc2.addStream(s);
                    pc1.createOffer(step1, onFailure);
              }, onFailure);
            }, onFailure);
        }
    </script>
</head>
<body onload="start()">
</body>
</html>
