<html>
<head>
    <script type="application/javascript;version=1.8">
        let pc1, pc2, pc1_offer, pc2_answer;
        let Logger = {
            console: function(msg) {
                if (window.dump) { window.dump(msg); }
                else if (window.console && window.console.log) { window.console.log(msg); }
                else { }
            }
        }
        function start() {
            let x = mozRTCSessionDescription({sdp:window.atob("$FILE"), type:"offer"});
        }
    </script>
</head>
<body onload="start();">
<audio></audio>
</body>
</html>
