<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <script type="application/javascript;version=1.8">

        function start() {
            pc = new mozRTCPeerConnection(
                    {
                        iceServers: [
                            {
                                url: "turn:127.0.0.1:8081", credential: "test", username: "test"
                            }
                        ]
                    });
        }
        </script>
    </head>
    <body onload="start()"></body>
</html>
